@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --width: 80vw;
    --height: 80vh;
    --real-width: min(var(--width), calc(var(--height) * 2));
    --real-height: min(var(--height), calc(var(--width) / 2));
    --button-size: calc(var(--real-height) / 12);
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}

.background {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(#404474, #020316);
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    position: relative;
    width: var(--real-width);
    height: var(--real-height);
}

.canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: calc(var(--button-size) / 2);
    top: 0;
    left: calc(var(--button-size) + var(--real-width));
}

.button {
    width: var(--button-size);
    height: var(--button-size);
    /* background: url(../../src/img/restart.svg); */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80%;
    background-color: #D9D9C3;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    line-height: normal;
    margin: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
    z-index: 1000;
}

.button:disabled {
    pointer-events: none;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: none;
    transform: translateY(0);
}

#restart {
    background-image: url(../../src/img/restart.svg);
}

#info {
    background-image: url(../../src/img/info.svg);
}

details {
    z-index: 1000;
}

.details-modal {
    position: fixed;
    background: #151635;
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    left: 50%;
    max-width: 90%;
    pointer-events: none;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    text-align: left;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
}

.details-modal .details-modal-close {
    align-items: center;
    color: #D9D9C3;
    display: flex;
    height: 4.5em;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 4.5em;
}

.details-modal .details-modal-close svg {
    cursor: pointer;
    display: block;
}

.details-modal .details-modal-title {
    color: #D9D9C3;
    padding: 1.5em 2em;
    pointer-events: all;
    position: relative;
    width: calc(100% - 4.5em);
}

.details-modal .details-modal-title h1 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: normal;
}

.details-modal .details-modal-content {
    color: #D9D9C3;
    border-top: 1px solid #D9D9C3;
    padding: 2em;
    pointer-events: all;
    overflow: auto;
}

.details-modal-overlay {
    transition: opacity 0.2s ease-out;
    pointer-events: none;
    background: rgba(15, 23, 42, 0.8);
    position: fixed;
    opacity: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

details[open] .details-modal-overlay {
    pointer-events: all;
    opacity: 0.5;
}

details summary {
    list-style: none;
}

details summary:focus {
    outline: none;
}

details summary::-webkit-details-marker {
    display: none;
}